.App-header {
  margin-bottom: 5vh;
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Clear-filter {
  color: red;
  cursor: pointer;
 }
 .Clear-filter:hover {
   opacity: 1;
 }